<mat-toolbar>
    <span>{{employeeService.form.controls['id'].value?"Modify Employee":"New Employee"}}</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<form [formGroup]="employeeService.form" class="normal-form" (submit)="onSubmit()"> 
    <mat-grid-list cols="3" rowHeight="300px">
        <mat-grid-tile>
            <div class="controls-conatiner">
                <input type="hidden" formControlName="id">
                <mat-form-field>
                    <input formControlName="firstname" matInput placeholder="First name">
                    <mat-error>This field is required.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="lastname" matInput placeholder="Last name">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="employeeCode" matInput placeholder="Employee code">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="employeeEmail" matInput placeholder="Employee email">
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="controls-container">
                <mat-form-field>
                    <input formControlName="birthdate" matInput [matDatepicker]="picker" placeholder="Birthdate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="startdate" matInput [matDatepicker]="picker1" placeholder="Start date">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="terminationDate" matInput [matDatepicker]="picker2" placeholder="Termination date (optional)">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>            
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="controls-container">
                <img class="rounded-circle my-1 mx-1" 
                    width="200" height="200" [src]="'../../../../assets/images/' + employeeService.form.controls['id'].value + '.jpeg'" 
                    onError="this.src='../../../assets/images/01.jpg'"/>
                
                <div class="button-row">
                    <input type="file" mat-raised-button color="primary" formControlName="id">
                </div>
                
                <div class="button-row">
                    <button mat-raised-button color="primary" type="submit">Submit</button>
                    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
                </div>
            </div>            
        </mat-grid-tile>
    </mat-grid-list>
</form>
