<div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <td>Search...</td>
                <th class="tbl-head">Mon</th>
                <th class="tbl-head">Tue</th>
                <th class="tbl-head">Wed</th>
                <th class="tbl-head">Thu</th>
                <th class="tbl-head">Fri</th>
                <th class="tbl-head">Sat</th>
                <th class="tbl-head">Sun</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees$ | async">
                <td class="fit">
                    <div class="d-flex">
                        <img class="rounded-circle" width="50" height="50" [src]="'../../../assets/images/'+ employee.id + '.jpeg'"> 
                        <div class="mx-2">
                            <div>{{ employee.firstname + ' ' + employee.lastname }}</div> 
                            <div><p class="fs-6 fw-bold">{{ employee.employeeCode }}</p></div>
                        </div>
                    </div>
                </td>
                <td class="fit justify-content-center align-items-center">
                    <div class="card"  *ngIf="getScheduleForEmployee(employee.id, currentWeekDays()[0])">
                        <div class="card-header">
                            <b>{{ datePipe.transform(getScheduleForEmployee(employee.id, currentWeekDays()[0]).startTime, 'shortTime') + ' - ' + 
                                datePipe.transform(getScheduleForEmployee(employee.id, currentWeekDays()[0]).endTime, 'shortTime') }}</b>
                            <p>{{ getScheduleForEmployee(employee.id, currentWeekDays()[0]).comments }}</p> 
                        </div>
                    </div>
                </td>
                <td class="fit justify-content-center align-items-center">
                    <div class="card"  *ngIf="getScheduleForEmployee(employee.id, currentWeekDays()[1])">
                        <div class="card-header">
                            <b>{{ datePipe.transform(getScheduleForEmployee(employee.id, currentWeekDays()[1]).startTime, 'shortTime') + ' - ' + 
                                datePipe.transform(getScheduleForEmployee(employee.id, currentWeekDays()[1]).endTime, 'shortTime') }}</b>
                            <p>{{ getScheduleForEmployee(employee.id, currentWeekDays()[1]).comments }}</p> 
                        </div>
                    </div>
                </td>
                <td class="fit justify-content-center align-items-center">
                    <div class="card"  *ngIf="getScheduleForEmployee(employee.id, currentWeekDays()[2])">
                        <div class="card-header">
                            <b>{{ datePipe.transform(getScheduleForEmployee(employee.id, currentWeekDays()[2]).startTime, 'shortTime') + ' - ' + 
                                datePipe.transform(getScheduleForEmployee(employee.id, currentWeekDays()[2]).endTime, 'shortTime') }}</b>
                            <p>{{ getScheduleForEmployee(employee.id, currentWeekDays()[2]).comments }}</p> 
                        </div>
                    </div>
                </td>
                <td class="fit justify-content-center align-items-center">
                    <div class="card"  *ngIf="getScheduleForEmployee(employee.id, currentWeekDays()[3])">
                        <div class="card-header">
                            <b>{{ datePipe.transform(getScheduleForEmployee(employee.id, currentWeekDays()[3]).startTime, 'shortTime') + ' - ' + 
                                datePipe.transform(getScheduleForEmployee(employee.id, currentWeekDays()[3]).endTime, 'shortTime') }}</b>
                            <p>{{ getScheduleForEmployee(employee.id, currentWeekDays()[3]).comments }}</p> 
                        </div>
                    </div>
                </td>
                <td class="fit justify-content-center align-items-center">
                    <div class="card"  *ngIf="getScheduleForEmployee(employee.id, currentWeekDays()[4])">
                        <div class="card-header">
                            <b>{{ datePipe.transform(getScheduleForEmployee(employee.id, currentWeekDays()[4]).startTime, 'shortTime') + ' - ' + 
                                datePipe.transform(getScheduleForEmployee(employee.id, currentWeekDays()[4]).endTime, 'shortTime') }}</b>
                            <p>{{ getScheduleForEmployee(employee.id, currentWeekDays()[4]).comments }}</p> 
                        </div>
                    </div>
                </td>
                <td class="fit justify-content-center align-items-center">
                    <div class="card"  *ngIf="getScheduleForEmployee(employee.id, currentWeekDays()[5])">
                        <div class="card-header">
                            <b>{{ datePipe.transform(getScheduleForEmployee(employee.id, currentWeekDays()[5]).startTime, 'shortTime') + ' - ' + 
                                datePipe.transform(getScheduleForEmployee(employee.id, currentWeekDays()[5]).endTime, 'shortTime') }}</b>
                            <p>{{ getScheduleForEmployee(employee.id, currentWeekDays()[5]).comments }}</p> 
                        </div>
                    </div>
                </td>
                <td class="fit justify-content-center align-items-center">
                    <div class="card"  *ngIf="getScheduleForEmployee(employee.id, currentWeekDays()[6])">
                        <div class="card-header">
                            <b>{{ datePipe.transform(getScheduleForEmployee(employee.id, currentWeekDays()[6]).startTime, 'shortTime') + ' - ' + 
                                datePipe.transform(getScheduleForEmployee(employee.id, currentWeekDays()[6]).endTime, 'shortTime') }}</b>
                            <p>{{ getScheduleForEmployee(employee.id, currentWeekDays()[6]).comments }}</p> 
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="employeeService.page" [pageSize]="employeeService.pageSize">
        </ngb-pagination>

        <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="employeeService.pageSize">
            <option [ngValue]="2">2 items per page</option>
            <option [ngValue]="4">4 items per page</option>
            <option [ngValue]="6">6 items per page</option>
        </select>
    </div>
</div>
