.tbl-head {
    color:blue;
    text-align: center;
}

.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.card-header {
    font-size: 10px;
}

.my-fs-5 {
    font-size: 13px;
}

.my-fs-6 {
    font-size: 11px
}

.table-class {
    table-layout: fixed;
    width: 1100px; 
 }

 table .plus {
    color: green;
    text-align: center;
  }

  table .plus :hover {
    color: greenyellow;
  }

  table .delete {
    color: red;
    text-align: center;
  }

  table .delete :hover {
    color: orange;
  }

  table .pencil {
    color: blue;
    text-align: center;
  }

  table .pencil :hover {
    color: lightskyblue;
  }

