<!--Main Navigation-->
<header>
  <nav id="main-navbar">
    Container wrapper
    <app-top-menu></app-top-menu>
    Container wrapper
  </nav>
</header>
<ng-container *ngIf="authService.authChanged | async; else UnAuthorised">
    <div class="container justify-content-center align-items-center" style="width: 100%; max-width: 1200px; margin-top: 100px; 
      padding-bottom: 20px; overflow-x: auto;">
      <div class="border border-1 rounded bg-white p-1 justify-content-center align-items-center" style="width: 1150px; min-width: 1150px;">
        <router-outlet></router-outlet>
      </div>
    </div>
</ng-container>

<ng-template #UnAuthorised>
  <div class="container-fluid" style="margin-top:76px">
    <app-login></app-login>
  </div>
</ng-template>

<!-- <div class="d-flex" style="position:relative"> -->

<!--<nav id="sidebarMenu" class=""> --><!-- class="sidebar col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark position-relative">  -->
<!-- <app-side-menu></app-side-menu>
  </nav>  

 <main style="margin-top: 58px;">
   <div class="my-3" style="height: 100%; width:85%; position:absolute;background-color:#eee;">
      <router-outlet></router-outlet>
   </div>
 </main>
</div> -->