
<!--Main Navigation-->
<header>
  <!-- Navbar -->
  <nav id="main-navbar">
    <!-- Container wrapper -->
    <app-top-menu></app-top-menu>
    <!-- Container wrapper -->
  </nav>
</header>
  
<div class="d-flex" style="position:relative">
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="sidebar col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark position-relative">  
    <app-side-menu></app-side-menu>
  </nav>  
 <!--Main Navigation-->

 <!--Main layout-->
 <main style="margin-top: 58px;">
   <div class="my-3" style="height: 100%; width:85%; position:absolute;background-color:#eee;">
      <router-outlet></router-outlet>
   </div>
 </main>
</div>