<div>
	<form>
		<div class="mb-3 row">
			<label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
			<div class="col-xs-3 col-sm-auto">
				<input
					id="table-complete-search"
					type="text"
					class="form-control"
					name="searchTerm"
					[(ngModel)]="employeeService.searchTerm"
				/>
			</div>
			<span class="col col-form-label" *ngIf="employeeService.loading$ | async">Loading...</span>
		</div>

		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col" sortable="firstname" (sort)="onSort($event)">First name</th>
					<th scope="col" sortable="lastname" (sort)="onSort($event)">Last name</th>
					<th scope="col" sortable="employeeCode" (sort)="onSort($event)">Employee code</th>
					<th scope="col" sortable="companyCode" (sort)="onSort($event)">Company code code</th>
					<th scope="col" sortable="employeeEmail" (sort)="onSort($event)">Employee email</th>
					<th scope="col" sortable="birthdate" (sort)="onSort($event)">Date of birth</th>
					<th scope="col" sortable="startdate" (sort)="onSort($event)">Start date</th>
					<th scope="col" sortable="terminationDate" (sort)="onSort($event)">Termination date</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let employee of employees$ | async">
					<th scope="row">{{ employee.id }}</th>
					<td>
						<ngb-highlight [result]="employee.firstname" [term]="employeeService.searchTerm"></ngb-highlight>
					</td>
					<td><ngb-highlight [result]="employee.lastname" [term]="employeeService.searchTerm"></ngb-highlight></td>
					<td><ngb-highlight [result]="employee.employeeCode" [term]="employeeService.searchTerm"></ngb-highlight></td>
					<td><ngb-highlight [result]="employee.companyCode" [term]="employeeService.searchTerm"></ngb-highlight></td>
					<td><ngb-highlight [result]="employee.employeeEmail" [term]="employeeService.searchTerm"></ngb-highlight></td>
					<td>{{ employee.birthdate | date:'dd-MM-yyyy' }}</td>
					<td>{{ employee.startdate | date:'dd-MM-yyyy' }}</td>
					<td>{{ employee.terminationDate | date:'dd-MM-yyyy' }}</td>
				</tr>
			</tbody>
		</table>

		<div class="d-flex justify-content-between p-2">
			<ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="employeeService.page" [pageSize]="employeeService.pageSize">
			</ngb-pagination>

			<select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="employeeService.pageSize">
				<option [ngValue]="2">2 items per page</option>
				<option [ngValue]="4">4 items per page</option>
				<option [ngValue]="6">6 items per page</option>
			</select>
		</div>
	</form>
</div>