.tbl-head {
    color:blue;
    text-align: center;
}

.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.card-header {
    font-size: 10px;
}

.my-fs-5 {
    font-size: 13px;
}

.my-fs-6 {
    font-size: 11px
}

.table-class {
    table-layout: fixed;
    width: 100%; 
 }

table .plus {
  color: green;
  text-align: center;
  cursor:pointer; 
  height:30px; 
  width:30px
}

  /* table .plus :hover {
    color: greenyellow;
  } */

table .plus.rounded-circle:hover {
    box-shadow: none;
    background-color: darkgray;
    color: greenyellow;
    transform: translate(1px,1px);
}

.card.shadow-sm {
    cursor: pointer;
}

.card.shadow-sm:hover {
    box-shadow: none;
    transform: translate(1px,1px);
}

  table .delete {
    color: red;
    text-align: center;
  }

  table .delete :hover {
    color: orange;
  }

  table .pencil {
    color: blue;
    text-align: center;
  }

  table .pencil :hover {
    color: lightskyblue;
  }

  .controls-conatiner {
    width: 100%;
    padding: 5%; 
}

.controls-conatiner > * {
    width: 100%;
}

.button-row button {
    margin: 5px;
}

snack-bar-container.success {
    background-color: #5cb85c;
    color: #fff;
}

snack-bar-container.notification simple-snack-bar {
    font-size: 18px !important;
    font-weight: bold;
}

.material-icons{
    font-family: 'Material Icons' !important;
}

.btn-dialog-close {
    width: 45px; 
    min-width: 0px !important; 
    height: 40px; 
    padding: 0px !important; 
}